<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block head_title %}Hypergrowth event tracking system - Dashboard {% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->                 
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block stylesheets %}              
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="{{ asset('assets/lte2/bootstrap/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('assets/lte2/dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('assets/lte2/dist/css/skins/_all-skins.min.css') }}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('assets/lte/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">    

        <link rel="stylesheet" href="{{ asset('assets/lte/plugins/datepicker/datepicker3.css') }}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset('assets/lte/plugins/daterangepicker/daterangepicker-bs3.css') }}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('assets/lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        <!-- DataTables -->
        <link rel="stylesheet" href="{{ asset('assets/lte2/plugins/datatables/dataTables.bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/lte2/plugins/fuelux/wizard.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/lte2/plugins/easytree/easyTree.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/lte2/plugins/carousel/carousel.css') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block javascript_libraries %}                                    

        <!-- jQuery 2.1.4 -->
        <script src="{{ asset('assets/lte/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
        $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="{{ asset('assets/lte2/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- Morris.js charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="{{ asset('assets/lte/plugins/morris/morris.min.js') }}"></script>
        <!-- Sparkline -->
        <script src="{{ asset('assets/lte/plugins/sparkline/jquery.sparkline.min.js') }}"></script>    
        <!-- jQuery Knob Chart -->
        <script src="{{ asset('assets/lte/plugins/knob/jquery.knob.js') }}"></script>
        <!-- daterangepicker -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="{{ asset('assets/lte/plugins/daterangepicker/daterangepicker.js') }}"></script>
        <!-- datepicker -->
        <script src="{{ asset('assets/lte/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{{ asset('assets/lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>            
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <!--<script src="/dist/js/pages/dashboard.js"></script>-->
        <!-- AdminLTE for demo purposes -->
        <script src="{{ asset('assets/lte/dist/js/demo.js') }}"></script>
        <!-- ChartJS 1.0.1 -->
        <script src="{{ asset('assets/lte/plugins/chartjs/Chart.min.js') }}"></script>        
        <!-- Slimscroll -->
        <script src="{{ asset('assets/lte2/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <!-- ChartJS 1.0.1 -->
        <script src="{{ asset('assets/lte2/plugins/chartjs/Chart.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('assets/lte2/plugins/fastclick/fastclick.min.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('assets/lte2/dist/js/app.min.js') }}"></script>
        <!-- jvectormap -->
        <script src="{{ asset('assets/lte2/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
        <script src="{{ asset('assets/lte2/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>    
        
        <script src="{{ asset('assets/lte2/plugins/iCheck/icheck.min.js') }}"></script>
        
        <script src="{{ asset('assets/lte2/plugins/easytree/easyTree.js') }}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{ asset('assets/lte2/plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/lte2/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
        
        <script src="{{ asset('assets/lte2/plugins/carousel/raphael-min.js') }}"></script>
		<script src="{{ asset('assets/lte2/plugins/carousel/jquery.mousewheel.js') }}"></script>
		<script src="{{ asset('assets/lte2/plugins/carousel/jquery.easing.1.3.js') }}"></script>
		<script src="{{ asset('assets/lte2/plugins/carousel/icarousel.packed.js') }}"></script>
		<script src="{{ asset('assets/lte2/plugins/fuelux/wizards.js') }}"></script>
		{#<script src="http://52.32.218.143/jasperserver-pro/client/visualize.js"></script>#}

    {% endblock %}       
    {% if authentication.getLoggedAuthentication() == null or authentication.getLoggedAuthentication() == "" %}
        <script>window.location.href = "{{ path('dashboard_client_login') }}";</script>
    {% endif %}
            </head>
            <body class="hold-transition skin-red sidebar-mini">
                <div class="wrapper">
                    <header class="main-header">
                        <!-- Logo -->
                        {#{% if authentication.getAccess() != 0 or authentication.getAccess() != 1 %}#}
                        {#    <script>window.location.href = "{{ path('dashboard_logout') }}"</script>#}
                        {#{% endif %}#}
                        {% if authentication.getAccess() == 0 %}
                            <a href="{{ path('main_dashboard') }}" class="logo">
                        {% else %}
                            <a href="{{ path('data_acquisition') }}" class="logo">
                        {% endif %}
                            <!-- mini logo for sidebar mini 50x50 pixels -->
                            <span class="logo-mini"><img src="{{ asset('assets/img/hypergrowth_small_red_transparent_16x35.png') }}"></span>
                            <!-- logo for regular state and mobile devices -->
                            <span class="logo-lg"><img src="{{ asset('assets/img/hypergrowth_red_transparent_102x35.png') }}"></span>
                        </a>

                        <!-- Header Navbar: style can be found in header.less -->
                        <nav class="navbar navbar-static-top" role="navigation">
                            <!-- Sidebar toggle button-->
                            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                                <span class="sr-only">Toggle navigation</span>
                            </a>
                            <div class="navbar-custom-menu">
                                <ul class="nav navbar-nav">
                                    <!-- User Account: style can be found in dropdown.less -->
                                    <li class="dropdown user user-menu">
                                        {% set image = "" %}
                                        {% if authentication.refreshImageAction == "" %}
                                            {% set image = authentication.getImagePath() ~ '/user.png' %}
                                        {% else %}
                                            {% set image = authentication.getImagePath() ~ '/' ~ authentication.refreshImageAction %}
                                        {% endif %}
                                        
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="{{ image }}" class="user-image" alt="User Image">
                                            <span class="hidden-xs">{{authentication.refreshNameAction}}</span>
                                        </a> 
                                        <ul class="dropdown-menu">
                                            <!-- User image -->
                                            <li class="user-header">
                                                <img src="{{ image }}" class="img-circle" alt="User Image">
                                                <p>
                                                    {{authentication.refreshNameAction}}
                                                    <small>Member since {{ authentication.getLoggedAuthentication().created|date("F Y") }}
                                                    </small>
                                                </p>
                                            </li>
                                            <!-- Menu Footer-->
                                            <li class="user-footer">
                                                <div class="pull-left">
                                                    <a href="{{ path('dashboard_show_App_Account') ~ "?id=" ~ authentication.getLoggedAuthentication().id ~"&client_name=" ~ authentication.getLoggedAuthentication().clientId }}" 
                                                    class="btn btn-default btn-flat">Edit Profile</a>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="{{ path('dashboard_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <!--
                                    <li class="separator">
                                        <span>|</span>
                                    </li>
                                    <li id="logout">
                                        <span><a href="{{ path('dashboard_logout') }}">Logout</a></span>
                                    </li>
                                    -->
                                </ul> 
                            </div>
                        </nav>
                    </header>                       
                    
                    {% block left_menu %}
                         {% set auth = authentication.getLoggedAuthentication()%}
                         {% if auth is not null %}
                             {% set userType = auth.getUserType()  %}
                             {% if userType is not null %}
                                 {% if userType == 1 or userType == 1000 %}
                                     {% include 'lte_menu/admin2.html.twig' ignore missing %}
                                 {% endif %}
                                 {% if userType == 0 or userType == 2 %}
                                     {% include 'lte_menu/client.html.twig' ignore missing %}
                                 {% endif %}
                             {% endif %}    
                         {% endif %}

                     {% endblock %}
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <section class="content">
                        <!--<div class="{% block body_grid_size %}col-xs-10{% endblock %}">-->
                        {% block body %} {% endblock %}                    
                        </section><!-- /.content -->
                    </div><!-- /.content-wrapper -->
                    <footer class="main-footer">
                        <div class="pull-right hidden-xs">
                            <b>Version</b> 1.1.0
                        </div>
                        <strong>Copyright &copy; 2015 <a href="http://www.hypergrowth.co"> HyperGrowth Pte Ltd</a>.</strong> All rights reserved.
                    </footer>
                </div><!-- ./wrapper -->
        <style>
            #userlogin 
            { 
                display: inline-block;                
            }
            
            .separator { margin: 1em 0.5em 0 0; }
            #logout { margin: 1em 0.5em 0 0; }
            
        </style>
    </body>
</html>
