{% extends 'base2.html.twig' %}
{% block body %}

<section class="content-header" style="margin: -2em 0 0 -2em !important;">
    <h1 style="font-size: 24px; margin: 0 0 1em 0.5em;">
      Upload CSV
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Upload CSV</li>
    </ol>
</section>
        {% if status > 0 %}
            <META http-equiv="refresh" content="300;URL={{ path('hyper_event_csvupload',{'upload_id' :  upload_id} ) }}">
        {% endif %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Upload CSV</h3>
            </div>
        <p>Uploading Status : {{ status_msg }}</p>
        <table border="1" class="table">
            <tr><td class="left">Number of records</td><td class="colon">:</td><td class="right">{{ total_records }}</td></tr>
            <tr class="separator"></tr>
            <tr><td class="left">Records processed</td><td class="colon">:</td><td class="right">{{ total_processed }}</td></tr>
            <tr class="separator"></tr>
            <tr><td class="left">Success count</td><td class="colon">:</td><td class="right">{{ total_success }}</td></tr>
            <tr class="separator"></tr>
            <tr><td class="left">Fail count</td><td class="colon">:</td><td class="right">{{ total_failed }}</td></tr>
            <tr class="separator"></tr>
            <tr><td class="left">Process start at</td><td class="colon">:</td><td class="right">{{ process_start_datetime }}</td></tr>
            <tr class="separator"></tr>
            <tr><td class="left">Process end at</td><td class="colon">:</td><td class="right">{{ process_end_datetime }}</td></tr>
            <tr class="separator"></tr>
            <tr><td class="left">Processing time</td><td class="colon">:</td><td class="right">{{ timeDiff }} (sec)</td></tr>
        </table>
        {% if status == 3 %}
            <br/>
            <a href="{{ path('hyper_event_csvupload') }}">Upload another file</a>
            <br/>
        {% endif %}
        </div>
    </div>
</div>
<style>
.colon { border-left: none; border-right: none; }
.left { border-right: none; }
.right { border-left: none; text-align: right;}

table tbody tr { padding: 10px 0 10px 0; position: relative; line-height: 30px; margin-left: 1em;}

#main
{
    width: 34em;
    margin: 4em auto;
}

.separator
{
    height: 10px;
}
</style>
{% endblock %}