{% extends 'base2.html.twig' %}
{% block body %}

<section class="content-header" style="margin: -2em 0 0 -2em !important;">
    <h1 style="font-size: 24px; margin: 0 0 1em 0.5em;">
      Add Jasper Account
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Add Jasper Account</li>
    </ol>
</section> 

<div class="row">
    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Create Account</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data" role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputUsername">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Organization</label>
                        <input type="text" class="form-control" id="org" placeholder="Enter organization">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email address</label>
                        <input type="email" class="form-control" id="emails" placeholder="Enter email">
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" id="btnSend" class="btn btn-danger">Create Account</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        {% if cur is defined %} <input type='hidden' id='current' value='{{ cur }}' /> {% endif %}        
        {% if per is defined %} <input type='hidden' id='per_page' value='{{ per }}' />{% endif %}        
        <table class="table table-bordered" id="tblUsers">
            <tr>
                <th class="text-red" style="width: 90px">Username</th>
                <th class="text-red" style="width: 150px">Email</th>
                <th class="text-red">Organization</th>
                <th class="text-red">Created</th>
                {#<th class="text-red" style="width: 100px">Action</th>#}
            </tr>
            {% if list is defined %}
                {% for records in list %}
                    <tr class="clickable" id="{{ records.id }}">                    
                        <td>
                            <input type="hidden" id="hidden_id" value="{{ records.id }}"/>
                            <label>{{ records.username }}</label>
                        </td>
                        <td>{{ records.email }}</td>
                        <td>{{ records.organization }}</td>
                        <td>{{ records.created|date("Y-m-d")}}</td>
                    </tr>
                {% endfor %}  
            {% endif %}
        </table>
        <div class="paginator">
            {% if total is defined %}
            <ul id="paginate">            
                {% set pages = total + 1 %}
                {% for i in 1..pages%}             
                    <li> 
                        <a href="{{ path('jasper_add', { 'page': i }) }}">
                            {{ i }}
                        </a>
                    </li>
                {% endfor %}            
            </ul>
            Total pages : {{total+1}}
            {% endif %}
        </div>
    </div>
</div>
<script>
    function error(el)
    {
        $(el).css("background-color", "red").css("color","yellow").val("Should not be blank");

        setTimeout(function()
        {
            $(el).css("background-color", "white").css("color","black");
            $(el).val("");
        }, 2000);            
    }
    
    $(document).ready(function()
    {
        $("#btnSend").on('click', this, function()
        {
             var username = $("#username").val();
             var password = $("#password").val();
             var org      = $("#org").val();
             var email    = $("#emails").val();
             
             if( "" == username){ error($("#username")); return false; }
             if( "" == password){ error($("#password")); return false; }
             if( "" == org){ error($("#org")); return false; }
             if( "" == email){ error($("#emails")); return false; }
             
             $.obj = { "username": username, "password": password, "org": org, "email": email };
                     
            $.ajax(
            {                
                url:"{{ path('jasper_save') }}",
                type: "POST",
                data: $.obj,
                success: function(msg)
                {
                    var json = JSON.parse(msg);
                    if(json.status == "failed")
                    {
                        alert(json.message);
                        return false;
                    }
                    else if(json.status == "success")
                    {
                        alert(json.message);
                        window.location.href = "{{ path('jasper_add') }}";
                    }
                }
            });
        });
        
        if($("#paginate").children("li").children("a").length > 0)
        {               
            console.log("pagination link seen seen");

            $("#paginate").children("li").children("a").each(function()
            {
                $(this).html($.trim($(this).html()));

                $(this).html($(this).html().replace(/\s+$/, ""));

                //console.log("Pagination value: "+$(this).html());

                if($(this).html() == $.current)
                {
                    $(this).addClass("currentPage");
                }
                else
                {
                    console.log("Values did not match");
                }
            });

            var per_page = $("#per_page").val();                                    
            var counter = $("#tblUsers tbody").children("tr").length -1;                        
            
            if(counter < per_page)
            {
                var add_row = per_page - counter;                                
                
                for(var q = 0; q < 4; q++)
                {
                    $("#tblUsers").append("<tr>\n\
                    <td class='added'>1</td><td class='added'>1</td><td class='added'>1</td><td class='added'>1</td>\n\
                    </tr>");
                }
            }
        }
    });
</script>
<style>
    #tblUsers tr th, tr td
    {
        text-align:center;
    }
    
    #paginate
    {            
        padding: 0.3em 0 0 1em;
        list-style-type: none !important;
        border-radius: 25px;
        background-color: #333333;      
        height: 30px;
        width: 100%;
    }

    #paginate li
    {            
        display: inline !important;            
        margin-right: 0.5em;            
    }

    #paginate li a
    {
        color: #FFFFFF;
    }
    
    .added
    {
        color: transparent;
    }

    .currentPage
    {
        text-decoration: underline;
        font-weight: bold;
        color: white !important;
    }
</style>
{% endblock %}