{% extends 'base2.html.twig' %} 
{% block body %}        
            <script>         
                function error(el)
                {
                    $(el).css("background-color", "red").css("color","yellow").val("Should not be blank");
                    
                    setTimeout(function()
                    {
                        $(el).css("background-color", "white").css("color","black");
                        $(el).val("");
                    }, 2000);
                }
                
                function errorPasswords(el, el2)
                {
                    $(el).attr("type","text");
                    $(el2).attr("type","text");
                    
                    $(el).css("background-color", "red").css("color","yellow").val("Entries did not match");
                    $(el2).css("background-color", "red").css("color","yellow").val("Entries did not match");
                    
                    setTimeout(function()
                    {
                        $(el).css("background-color", "white").css("color","black");
                        $(el2).css("background-color", "white").css("color","black");
                        $(el).val("");
                        $(el2).val("");
                        
                        $(el).attr("type","password");
                        $(el2).attr("type","password");
                    }, 2000);
                }
                
                $(document).ready(function()
                {             
                    {% if user is defined %}
                    //window.location.href = "{{ path('dashboard_filter_showlist') }}";
                    {% else %}
                        window.location.href = "{{ path('dashboard_admin_login') }}";
                    {% endif %}
                                     
                    $(".tr1 >td >input").attr("class","form-control");
                                                            
                    /* Global Vars */

                    var password;     
                    var new_pass;
                    var confirm_pass;
                    
                    $("#btnSend").on("click", this, function()
                    {

                        password = $("#password").val();
                        new_pass = $("#new_pass").val(); 
                        confirm_pass = $("#confirm_pass").val();
                        
                        if( "" == password){ error($("#password")); return false; }
                        if( "" == new_pass){ error($("#new_pass")); return false; }
                        if( "" == confirm_pass){ error($("#confirm_pass")); return false; }
                        
                        if( confirm_pass != new_pass ) { errorPasswords($("#new_pass"), $("#confirm_pass")); return false; }
                            
                        $.obj = { "password": password, "new_pass": new_pass, "confirm_pass": confirm_pass };
                        
                        $.ajax(
                        {                                                        
                            url:"{{ path('dashboard_validate_change_password') }}",
                            type: "POST",
                            data: $.obj,
                            success: function(msg)
                            {
                                var message = JSON.parse(msg);
                                console.log(message);
                                
                                //alert(message.message);
                                
                                if(message.status == "success")
                                {
                                    alert("Password updated");
                                    
                                    window.location.href = "{{ path('dashboard_client_action_show') }}";
                                }
                                else if(message.status == "failed")
                                {
                                    alert(message.error);
                                }
                            }
                        });
                    });
                });
            </script>        
            
       {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div id="mainContainer">
            <div id="loginDiv">Change Password</div>
            <div id="formHandler">
                <form id="formSubmitAuth" name="formSubmitAuth" method="POST">
                <table id="tblAuth">
                    <tr class="tr1">
                        <td><label class="heads">Password</label></td>
                        <td><input type="password" id="password" name="password" /></td>
                    </tr>  
                    <tr class="tr1">
                        <td><label class="heads">New Password</label></td>
                        <td><input type="password" id="new_pass" name="new_pass" /></td>
                    </tr>  
                    <tr class="tr1">
                        <td><label class="heads">Confirm Password</label></td>
                        <td><input type="password" id="confirm_pass" name="confirm_pass" /></td>
                    </tr>  
                </table>
                </form>
                <div id="divSendBtn">
                    <input type="button" name="authEntry" id="btnSend" value="Submit" class="btn btn-primary"/>
                </div>
            </div>
        </div>
                    
        <style>     
            #loginDiv
            {
                margin: 1em 0 0 1em;
                font-weight: bold;
                font-size: 17px;
            }
            
            .heads
            {
                font-size: 15px;
                font-weight: bold;
                margin: 0.9em 0 0 0;
            }
            
            #divSendBtn
            {
                width: 8em;
                margin: 2em 0 0 16.7em;                
            }
            
            #btnSend { width: 7em; display: inline-block; margin-left: 1.2em; }

            input:not([type='button'])
            {
                width: 17em;
                height: 2.5em;
                margin: 0.9em 0 0 1em;
            }
            
            #mainContainer
            {
                width: 45em;
                height: 28em;
                border: 1px solid lightsteelblue;
                margin: 6em auto;
            }
            
            #formHandler
            {
                width: 25em;
                height: 17em;
                margin: 3em auto;
                background-color: transparent;
            }
        </style>        
{% endblock %}